* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  body {
    background: #374f1f;
    overflow-x: hidden;
    min-height: 100vh;
  }
  
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.logo{
    color: #112436;
    

}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navigation li{
    list-style: none;
  

}

.navigation li a{
    text-decoration: none;
    pad: 6px 15px;
    color: #112436;
    border-radius: 20px;
}


  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #374f1f, transparent);
    z-index: 100000;
  }
  
  .sec {
    position: relative;
    padding: 100px;
  }
  
  h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    color: #fff;
  }
  
  img#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  img#jet {
    position: absolute;
    top: 150%;
    z-index: 1000;
    width: 50%;
    transform: scale(0);
  }
  
  